# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
!frontend/src/lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
venv/
ENV/
env/

# Node/Frontend
node_modules/
.next/
out/
.npm
/frontend/dist

# Project specific data
data/*
!data/.gitkeep
backend/data/*
!backend/data/.gitkeep
backend/uploads/*
backend/thumbnails/*

# IDEs
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Docker
.dockerignore
